.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item{
  margin: 10px;
}

.createBtn{
  margin: 10px;
  background-color: #ffa200;
  border: none;
  width: 120px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.createBtn:hover{
  background-color: #d08800;
  cursor: pointer;
}

.container{
  /*width: 120%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headTextContainer{
  /*border-style: solid;*/
  /*border-color: black;*/
  /*border-width: 3px;*/


  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.headText{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-weight: 900;
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  color: #fff7f7;
  background-color: #ff6961;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
