<div style="text-align:center;">

  <div class="post-request-test">
    <h3>Create Football Club</h3>
    <div class="form-container">
      <input class="item" type="text" [(ngModel)]="clubName" placeholder="Club Name">
      <input class="item" type="text" [(ngModel)]="location" placeholder="Club Location">
      <input class="item" type="text" [(ngModel)]="homeGround" placeholder="Home Ground">
      <button class="createBtn" (click)="createPerson()">Create Club</button>
    </div>
    <h2>Club Details <br/> <span class="details">{{postRequestResponse}}</span></h2>
  </div>
</div>
