<div style="text-align:center;">

  <div class="post-request-test">
    <h3>Create Football Club | Nof Clubs Created: {{nof_clubs}}</h3>
    <div class="form-container">
      <input class="item" type="text" [(ngModel)]="clubName" placeholder="Club Name">
      <input class="item" type="text" [(ngModel)]="location" placeholder="Club Location">
      <input class="item" type="text" [(ngModel)]="homeGround" placeholder="Home Ground">
      <button class="createBtn" (click)="createPerson()">Create Club</button>
      <button class="createBtn" (click)="getClub()">Nof Regd. Clubs</button>
      <button class="createBtn" (click)="getClub()">getClub</button>
      <button class="createBtn" (click)="getNumber()">getClub</button>
    </div>
    <h2>NOF culbs {{chandira}}</h2>
  </div>
</div>
