<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<div class="container">
  <div class="headTextContainer">
    <p class="headText">Create Club</p>
  </div>


  <div class="form-container">

    <mat-form-field class="example-full-width" class="matInput">
      <mat-label>Club Name</mat-label>
      <input matInput placeholder="Club Name" [(ngModel)]="clubName">
    </mat-form-field>

    <mat-form-field class="example-full-width" class="matInput">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Location" [(ngModel)]="location">
    </mat-form-field>

    <mat-form-field class="example-full-width" class="matInput">
      <mat-label>Home Ground</mat-label>
      <input matInput placeholder="Home Ground" [(ngModel)]="homeGround">
    </mat-form-field>

<div class="btnContainer">
  <button [ngClass]="{'not-active': clubName.length==0 || location.length==0 || homeGround.length==0, 'addBtn': clubName.length!=0 && location.length!=0 && homeGround.length!=0}" (click)="createClub()">Create Club</button>
</div>
  </div>


</div>





