<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<div class="container">
  <div class="headTextContainer">
    <p class="headText">Matches<br/><span *ngIf="date!=null && day!=null && month!=null && year!=null && dateChecker==true">&nbsp;On: &nbsp;{{day+'/'+month+'/'+year}}</span> <span *ngIf="test==true">&nbsp;Sorted&nbsp;By&nbsp;Date</span></p>
  </div>
  <div class="matchesExtraElements">
    <div class="toggleContainer">
      <div [ngClass]="{'before': test==false, 'after': test==true}">
        <mat-slide-toggle [(ngModel)]="test" (click)="getMatchesSorted()"><span class="sortText">Sort by Date</span></mat-slide-toggle>
      </div>
    </div>

    <div class="date-container">
    <mat-form-field class="calendarView" appearance="fill">
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp"  [(ngModel)]="date" class="datePickerText">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp disabled="false"></mat-datepicker>
    </mat-form-field>
      <button class="sortBtn" (click)="dateCheck()">Find Matches</button>
    </div>

  </div>
  <div class="card-container">

    <div class="top-card-container">
      <div class="card">
        <p class="card-header clubName  ">#</p>
        <p class="card-header clubName  ">Date</p>
        <p class="card-header location  ">Club Name</p>
        <p class="card-header homeGround">Goals</p>
        <p class="card-header homeGround">VS</p>
        <p class="card-header defeats   ">ClubName</p>
        <p class="card-header draws     ">Goals</p>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" >
        <span class="sr-only" id="loading"></span>
      </div>
    </div>

    <!--<div class="card-club-container">-->
    <div class="card-club" *ngFor="let match of array">
      <p class="card-element clubName">{{array.indexOf(match)+1}}.</p>
      <p class="card-element clubName     " [ngClass]="{'bold':test==true}">{{match.date.day+'/'+match.date.month+'/'+match.date.year}}</p>
      <p class="card-element location     " [ngClass]="{'bold':match.team1Score>match.team2Score}">{{match.team1.clubName}}</p>
      <p class="card-element homeGround   " [ngClass]="{'bold':match.team1Score>match.team2Score}">{{match.team1Score}}</p>
      <p class="card-element homeGround   ">vs</p>
      <p class="card-element defeats      " [ngClass]="{'bold':match.team1Score<match.team2Score}">{{match.team2.clubName}}</p>
      <p class="card-element draws        " [ngClass]="{'bold':match.team1Score<match.team2Score}">{{match.team2Score}}</p>
    </div>
    <!--</div>-->
  </div>
</div>





