<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<header class="header">
  <nav class="container">
    <div class="nav-items">
      <a class="nav-element" routerLink="/">Points Table</a>
      <a class="nav-element" routerLink="/createClub">Create Club</a>
      <a class="nav-element" routerLink="/addMatch">Add Match</a>
      <a class="nav-element" routerLink="/matches">Matches</a>
<!--      <p class="title">Premiere League Manager</p>-->
    </div>
  </nav>
</header>
