header{
  background-color: #ea7989;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover{
  background-color: #e85a6c;
}

.nav-items{
  display: flex;
  height: 100%;
}

.title{
  margin-left: 600px;
  /*border-color: black;*/
  /*border-style: solid;*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.nav-element{
  font-weight: 600;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
