<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>


  <div class="post-request-test">
    <h3>Create Football Club</h3>
    <input type="text" [(ngModel)]="clubName" placeholder="Club Name">
    <br/>
    <input type="text" [(ngModel)]="location" placeholder="Club Location">
    <br/>
    <input type="text" [(ngModel)]="homeGround" placeholder="Home Ground">
    <button (click)="createPerson()">Create Club</button>
    <h2>Created Club Details <br/> <span class="details">{{postRequestResponse}}</span></h2>
  </div>
</div>
