<app-navbar>

</app-navbar>
<router-outlet></router-outlet>

<!--<div style="text-align:center;">-->
<!--  <h1>{{title}}</h1>-->



<!--  <div class="post-request-test">-->
<!--    <h3>Create Football Club</h3>-->
<!--    <input type="text" [(ngModel)]="clubName" placeholder="Club Name">-->
<!--    <br/>-->
<!--    <input type="text" [(ngModel)]="location" placeholder="Club Location">-->
<!--    <br/>-->
<!--    <input type="text" [(ngModel)]="homeGround" placeholder="Home Ground">-->
<!--    <button (click)="createPerson()">Create Club</button>-->
<!--    <h2>Club Details <br/> <span class="details">{{postRequestResponse}}</span></h2>-->
<!--  </div>-->
<!--</div>-->
