<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<div class="containerOne">
  <div class="headTextContainer">
    <p class="headText">Add Match</p>
  </div>

  <div class="container">
    <div class="toColor">

      <div class="container-inside">
        <div class="box1">
          <div class="box-inside">
<!--            <input type="text" placeholder="Club Name" class="input-name" [(ngModel)]="clubName1">-->


            <mat-form-field appearance="fill">
              <mat-label>Club One</mat-label>
              <mat-select [(ngModel)]="clubName1" class="input-name">
                <mat-option *ngFor="let club of array" [value]="club.clubName"  class="input-name">
                  {{club.clubName}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <input type="number" placeholder="Goals" class="input-goal" [(ngModel)]="goal1">
          </div>
        </div>
        <div class="box2">
          <p class="vsText">VS</p>
        </div>
        <div class="box3">
          <div class="box-inside">
<!--            <input type="text" placeholder="Club Name" class="input-name" [(ngModel)]="clubName2">-->

            <mat-form-field appearance="fill">
              <mat-label>Club Two</mat-label>
              <mat-select [(ngModel)]="clubName2" class="input-name">
                <mat-option *ngFor="let club of array" [value]="club.clubName" class="input-name">
                  {{club.clubName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <input type="number" placeholder="Goals" class="input-goal" [(ngModel)]="goal2">
          </div>
        </div>
      </div>
      <div class="btnContainer">
        <button [ngClass]="{'not-active': clubName1==null || clubName2==null || goal1==null || goal2==null || clubName1.valueOf()==clubName2.valueOf(), 'addBtn': clubName1!=null && clubName2!=null && goal1!=null && goal2!=null}" (click)="addMatch()">Add Match</button>
<!--        <button (click)="addMatch()">Add Match</button>-->
      </div>
    </div>

  </div>
</div>


<mat-form-field>
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="datepicker" [(ngModel)]="date">
  <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #datepicker></mat-datepicker>
</mat-form-field>

<button (click)="click()">Test</button>




<!--*ngIf="clubName1!=null && clubName2!=null"-->
