<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<div class="containerOne">
  <div class="headTextContainer">
    <p class="headText">Add Match</p>
  </div>

  <div class="container">
    <div class="toColor">

<div class="date-container">

  <mat-form-field class="calendarView" appearance="fill">
    <mat-label class="datePickerHead">Match Date</mat-label>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp"  [(ngModel)]="date" disabled class="datePickerText">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp disabled="false"></mat-datepicker>
  </mat-form-field>

</div>

      <div class="container-inside">
        <div class="box1">
          <div class="box-inside">

            <mat-form-field class="test" appearance="fill">
              <mat-label class="datePickerHead">Choose Club</mat-label>
              <mat-select [(ngModel)]="clubName1" class="input-name">
                <mat-option *ngFor="let club of array" [value]="club.clubName"  class="input-name">
                  {{club.clubName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width input-goal-mat">
              <mat-label>Goals</mat-label>
              <input type="number" matInput placeholder="Goals" [(ngModel)]="goal1">
            </mat-form-field>
          </div>
        </div>
        <div class="box2">
          <p class="vsText">VS</p>
        </div>
        <div class="box3">
          <div class="box-inside">


              <mat-form-field class="test" appearance="fill">
                <mat-label class="datePickerHead">Choose Club</mat-label>
                <mat-select [(ngModel)]="clubName2" class="input-name">
                  <mat-option *ngFor="let club of array" [value]="club.clubName" class="input-name">
                    {{club.clubName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>



            <mat-form-field class="example-full-width input-goal-mat">
              <mat-label>Goals</mat-label>
              <input type="number" matInput placeholder="Goals" [(ngModel)]="goal2">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="btnContainer">
        <button [ngClass]="{'not-active': clubName1.length==0 || clubName2.length==0 || goal1==null || goal2==null, 'addBtn': clubName1.length!=0 && clubName2.length!=0 && goal1!=null && goal2!=null}" (click)="addMatch()">Add Match</button>

      </div>
      <button class="addBtn" (click)="generateMatch()">Generate Match</button>
    </div>

  </div>
</div>
